header {
  margin-top: 120px;
  height: 400px;
  background-color: #f38304;
  background-image: url("https://i.pinimg.com/originals/7e/c0/63/7ec0635f74c14d8ab20deb626c829f3c.jpg");
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.scooby-font {
  font-family: "Scooby Doo", sans-serif;
  color: #4b0055;
}

.profile-picture {
  border-radius: 50px;
  font-size: 20px;
  color: #fff;
  line-height: 100px;
  text-align: center;
  background: #79af30;
  margin-top: 20px;
}
