main {
  width: 90%;
  color: #545149;
  background-color: #f4f1ec;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  padding: 25px 3em;
}

.tweet-container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin-top: 50px;
}

.tweet-feed-box:hover {
  box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
}

.tweet-message {
  border-bottom: 1px solid black;
  padding: 0 1em;
}

.tweet-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  color: purple;
  margin-bottom: 12px;
  margin-top: 12px;
  margin-left: 12px;
  margin-right: 1.5em;
}

.sub-tweet-header {
  display: flex;
  align-items: flex-end;
  align-items: center;
}

.tweet-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.75em;
  margin: 0 25px;
  padding: 0.5em;
}

.tweet-feed-box {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  border: 4px solid black;
  margin-bottom: 30px;
  word-wrap: break-word;
}

.error-counter {
  display: none;
  font-weight: 300;
  margin-top: 1em;
  color: red;
  border-style: solid;
}

.error-empty {
  display: none;
  font-weight: 300;
  margin-top: 1em;
  color: red;
  border-style: solid;
}
