nav {
  display: flex;
  overflow: hidden;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  background-color: #4b0055;
  color: #ffffff;
  height: 120px;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  height: 120px;
  padding: 60px 2em;
}

.logo {
  font-size: 1.5em;
  font-family: "Bungee", cursive;
}

.fa-angle-double-down {
  color: #ffffff;
  display: flex;
  justify-content: center;
}
